[submodule "ansible/roles/git"]
	path = ansible/roles/git
	url = https://github.com/geerlingguy/ansible-role-git
[submodule "ansible/roles/oh-my-zsh"]
	path = ansible/roles/oh-my-zsh
	url = https://github.com/gantsign/ansible-role-oh-my-zsh
[submodule "ansible/roles/base"]
	path = ansible/roles/base
	url = https://github.com/ricofehr/ansible-role-base
[submodule "ansible/roles/gitconfig"]
	path = ansible/roles/gitconfig
	url = https://github.com/ricofehr/ansible-role-gitconfig
[submodule "ansible/roles/vim"]
	path = ansible/roles/vim
	url = https://github.com/ricofehr/ansible-role-vim
